
<h1>
    {{minhaPropsDefora}}
</h1>

 <p>Meu primeiro componente angularjs {{ nome }}</p>
 <button (click)="handleClick($event.target)"  [attr.aria-label]="idButton">{{myButton}}</button>

<form (submit)="handleSubmit($event)">
    <label>
        Nome:
        <input type="text" name="nome" id="nome" required>
    </label>
    <label>
        Idade:
        <input type="number" name="idade" id="idade" required>
    </label>
    <input type="submit" value="Enviar">
</form>

@if(deveMostrarTitulo != true) {
    <h1>Titulo exibido por condicional</h1>
}

@for(item of listItems; track item) {
    <p>{{item}}</p>
}

